<!-- <div class="box">
       <img [src]="url">
</div>
<div class="id"><strong><p>Shift the overall look and feel by</p>
    <p>adding these wonderful touches to</p>
    <p>furniture in your home</p></strong>
</div>
 -->

 <!-- *ngFor="let item of numbers">
     The number is {{item}} -->
     <!-- <h1
        *ngIf="show elseBlock">Hello</h1>
        <ng-template #elseBlock>
        <h1>Hi</h1>
 </ng-template>
     -->
 
<!-- 
     <div [ngSwitch]="color">
         <h1 *ngSwitchCase="'red'">Red</h1>
         <h1 *ngSwitchCase="'blue'">Blue</h1>
         <h1 *ngSwitchCase="'yellow'">Yellow</h1>
         <h1 *ngSwitchDefault>Transparent</h1> 
     </div> -->
     
     <!-- <app-navbar></app-navbar>
     <router-outlet></router-outlet> -->
<app-reactive-form></app-reactive-form>
